
.container__one{
    display: flex;
    padding: 8em 10em;
    justify-content: space-around;
    max-width: 100%;
    
}

.container__one__image{

    height: auto;
    object-fit: cover;
}


.text__button{
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 1em 0;
}


.container__one__text{
    width: 50%;
}
.container__one__text h2{
    font-size: 40px;
    color: var(--darkGreen);
}

.container__one__text h4{
    font-size: 24px;
    margin: 0.6em 0;
    color: var(--mossGreen);
    font-weight: 400;
}

.container__one__text h5{
    font-weight: 400;
    background-color: var(--lightGreen);
    padding: 0.5em 1em;
    color: var(--mossGreen);
    display: inline-block;
    border-radius: 3em;
}

.container__one__text p{
    font-size: 16px;
    color: var(--darkGreen);
    padding: 0.5em 0;
}

.button{
    background-color: var(--red);
    border: none;
    padding: 1em 1.6em;
    font-size: 20px;
    border-radius: 5px;
    color: var(--branco);
    border-radius: 10em;
}

.button:hover {
    background-image: linear-gradient(to right, #BC4749, #BC7356);
    color: #f1e5e5;
    cursor: pointer;
  }

.element{
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-top: 1em;
    text-decoration: none;
}
.video{
    display: flex;
    align-items: center;
    gap: 0.5em;
}


@media screen and (max-width: 1540px){
    .container__one{
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }
}
@media screen and (max-width: 1240px){
    .container__one__image{
        display: none;
    }
}

@media screen and (max-width: 900px){
    .button{
        font-size: 16px;
    }
}

  