@import url(assets/css/header.css);
@import url(assets/css/pagina1.css);
@import url(assets/css/fome.css);
@import url(assets/css/insegAlimentar.css);
@import url(assets/css/ods2.css);
@import url(assets/css/footer.css);
@import url(assets/css/projeto.css);

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --branco: #FFFFFF;
    --darkGreen: #344E41;
    --mossGreen: #4A5E4A;
    --lightGreen: #A3B18A;
    --red: #BC4749;
    --beige: #faf5ea;
    --imagem: url('image.png')
}

.problem{
    margin: 0 10rem 0 10rem;
    height: 100%;
    border-radius: 8em;
    background-color: #ebf0e3;
}

p{
    text-indent: 2em;
}

.footer__link{
    text-decoration: none;
}
.footer__link:hover{
    color: var(--red);
    border-bottom: 3px solid transparent;
    border-bottom-color: var(--red);

}

.footer h4{
    font-size: 16px;
    font-weight: 600;
}