


.content .content__title {
    font-weight: 600;
    color:  var(--lightGreen);
}

.content__grafic p{
    padding: 1em;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 20rem;
}

.content h1{
    padding-top: 1em;
}
.content h4{
    color: var(--red);
    padding-bottom: 1em;
}

.contentp{
    font-size: 20px;
    color: var(--darkGreen);
}

.footer__link:hover{
    color: var(--red);
    border-bottom: 3px solid transparent;
    border-bottom-color: var(--red);

}

@media screen and (max-width: 1240px){

    .content{
        margin: 1em;

        text-align: center;
    }
    .content h1{
        font-size: 25px;
    }

    .content h4{
        font-size: 20px;
    }

    .content p{
        font-size: 16px;
    }
    .content__grafic{
        display: flex;
        flex-direction: column;
    }

    .content__grafic p{
        font-size: 12px;
        margin: 0;
    }

}
